.feature-list {

    @include mobile {
        display: block;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include desktop {
        display: flex;
    }
}

.feature-img {
    @include flex-box-positioning(center);
    justify-content: center;
    background-color: var(--background-icon-color);
    margin-bottom: 30px; 

    @include mobile {
        padding: 25px 0;
    }

    @include tablet {
        @include size(354px, 120px); 
    }

    @include desktop {
        @include size(270px, 120px); 
    }
}

.feature-item:not(:last-child) {
    @include mobile {
       margin-bottom: 30px;
    }
}

.feature-list .feature-item + .feature-item {

    @include tablet {
       gap: 30px;
    }

    @include desktop {
        margin-left: 30px;
    }
}

.img-list {
    display: flex;

    & .img-item + .img-item {
        margin-left: 30px;
    }
}

.team-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.description-block {

    @include tablet {
        width: 354px;
    }
}

.description-title {
    @include font(14px, 700, 1.14);
    letter-spacing: 0.03em;

    @include mobile {
        display: block;
        width: fit-content;
        margin: auto;
    }
    
}

.description {
    margin-top: 10px;
    @include font(14px, 400, 1.71);
    letter-spacing: 0.03em;
    color:rgba(117, 117, 117, 1);
}

.visually-hidden {
    @include size(1px, 1px);
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

// Our work

.img-item {
  position: relative;
}

.custom-section {
    @include mobileTablet {
        display: none;
    }

    @include desktop {
        display: block;
    }
}

.section-block::after {
        @include flex-box-positioning(center);
        @include size(370px, 70px);
        content: '';
        position: absolute;
        justify-content: center;
        background-color: rgba(47, 48, 58, 0.8);
        bottom: 0;
        color: var(--accent-color); 
    }

.desc {
    @include font(14px, 700, 1.14);
        letter-spacing:  0.03em;
        position: absolute;
        bottom: 27px;
        left: 107px;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        color:var(--header-text-color);
}
