.modal__form {
    @include size(448px, 342px);
}


.modal__text {
    @include font(20px, 700, 1.15);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

.modal__group {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    cursor: pointer;

    transition-property: border-color, fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
}

.comment {
    margin-bottom: 20px;
}

.modal__label {
    margin-bottom: 4px;
    color: var(--secondary-text-color);
}

.modal-accept__label {
    @include flex-box-positioning(center);
    margin-bottom: 4px;
    color: var(--secondary-text-color);
}

.modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 12px 42px;

    transition-property: border-color, fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:hover + .modal__icon,
    &:focus + .modal__icon {
        fill: var(--accent-color);
    }
}

.modal-accept {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    &__check:checked + .checkbox {
        background: var(--accent-color);
    }

    & input:focus + label .checkbox {
        border: 2px solid var(--accent-color);
    }

    & input:checked + label .checkbox {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        box-shadow: none;
    }

    &__link {
        color: var(--accent-color);   
    }

    &__check {
        @include size(1px, 1px);
        margin-right: 7px;
        
        position: absolute;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden
    }
}

.checkbox {
    @include size(16px, 15px);
    @include flex-box-positioning(center);
    justify-content: center;
    border: 2px solid var(--primary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-right: 7px;
}


.comment__input { 
    height: 120px;

    transition-property: border-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    color: black;

    &:hover,
    &:focus {
        border-color: var(--accent-color); 
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}