
.hero-wrapper {  
    max-width: 696px; 
    margin-right: auto;
    margin-left: auto;
    text-align: center;  
    
    @include mobile {
        max-width: 75%; 
    }

    @include tablet {
        max-width: 45%; 
    }

    @include desktop {
        max-width: 696px; 
    }
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-repeat: no-repeat;  
    background-size: cover;
    color: var(--main-block-text-color);
    max-width: 1600px;
    margin: 0 auto;

    @include mobile {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-mob-1x.jpg");
        background-size: cover;
        padding-top: 118px;
        padding-bottom: 118px;

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-mob-2x.jpg");
        }
    }

    @include tablet {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-tab-1x.jpg");
        background-size: cover;
        padding-top: 118px;
        padding-bottom: 118px;

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-tab-2x.jpg");
        }
    }

    @include desktop {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-desk-1x.jpg");
        background-size: cover;

        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-desk-2x.jpg");
        }
    }
}

.hero-title {

    @include mobileTablet {
        @include font(26px, 900, 1.61);
        margin-bottom: 30px;
        color: var(--header-text-color);
        text-transform: uppercase;
    
    }

    @include desktop {
        @include font(44px, 900, 1.36);
        letter-spacing: 0.06em;
        margin-bottom: 30px;
        color: var(--header-text-color);
        text-transform: uppercase;
    }
}
