:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --main-block-text-color: #FFFFFF;
    --header-text-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --primary-background-color:  #F5F5F5;
    --secondary-logo-link: #000000;
    --hero-color: #2F303A;
    --hover-button-color: #188CE8;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --background-icon-color: #F5F4FA;
    --icons-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}


