.footer {
  @include flex-box-positioning(baseline);
  padding: 60px 0;
  background-color: var(--hero-color);
}

.footer-block {

  @include mobile {
    display: block;
    margin: auto;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 165px;
    row-gap: 60px;
  }

  @include desktop {
    margin: 0;
    display: flex;
    align-items: baseline;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
  }
}

.location {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

  @include desktop {
    display: block;
  }
}

.socials__text {
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-transform: uppercase;
}

.address {
  margin-top: 20px;
  
  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    text-decoration: none;
    font-style: normal;
  
    transition-property: background-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  &__link--white {
    color: var(--footer-text-color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;  
  }
}

.address__list {
  
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mobile {
    display: flex;
  }

  @include tablet {
    display: flex;
  }
}

.socials {

  @include mobile {
    display: flex;
  }

  @include tablet {
    display: block;
  }

  @include mobileTablet {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @include desktop {
    margin-left: 70px;
    text-align: left;
  }

  &__list {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }

  &__link {
    @include flex-box-positioning(center);
    justify-content: center;
    @include size(44px, 44px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-width: 0px;
  
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  &__svg {
    fill: var(--footer-text-color);
  }

  &__link:hover,
  &__link:focus {
    border-radius: 50%;
    background: var(--accent-color);
    fill: var(--footer-text-color);
  }

}

.subscription {

  @include mobile {
    margin-top: 60px;
  }
@include desktop {
  margin-left: 93px;
}
  &__label {
    @include font(14px, 700, 1.14);
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    display: block;
    margin-bottom: 20px;
  
    text-transform: uppercase;
  }
  
}

.subscription__form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  @include mobileTablet {
    display: flex;
  }
  
  @include desktop {
    display: block;
  }
}

.subscription__input {

  & {
    @include size(358px, 50px);
    background-color: var(--hero-color);
    color: var(--footer-text-color);
    padding: 16px 15px;
    border-radius: 4px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &::placeholder {
    @include font(16px, 400, 1.25);
    letter-spacing: 0.03em;
  }

  @include tablet {
    width: 450px;
  }
  
  @include desktop {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-button {

  &__text {
    display: inline-block;
  }

  &__icon {
    fill: var(--footer-text-color);
    margin-left: 10px; 
  }

  @include mobile {
   margin-top: 20px;
  }
}